body {
  font-family: monospace;
}

#output {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  padding: 3em;
}
ul {
  margin: 0;
}
li {
  text-indent: 12px;
  border-radius: 5px;
}

li:hover {
  font-size: 24px;
}

li>img {
  display: none;
}
li:hover>img.pup {
  display: inline;
  width: 15em;
}
li:hover>img.car {
  display: inline;
  width: 10em;
}

.dave {
  color: blue;
  font-weight: bold;
}

.beep {
  color: red;
  font-style: oblique;
}

.even {
  background-color: #4a4a4a;
  color: white;
  font-weight: bolder;
}

.other:hover {
  animation-name: colorChanger;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: black;
  font-size: 30px;
}

@keyframes colorChanger {
  0%   {color: purple;}
  20%   {color: red;}
  40%   {color: orange;}
  60%  {color: yellow;}
  80%  {color: blue;}
  100% {color: green;}
}

.car, .pup {
  width: 50px;
}
